*{
  box-sizing: border-box;
}
.first{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: margin-top linear .4s;
  form{
    margin-top: 20px;
    border: 2px solid #000;
    padding: 10px 15px;
    margin-bottom: 15px;
    div{
      display: flex;
      margin: 5px 5px;
      justify-content: space-between;
      p{
        margin: 5px;
      }
    }
  }
  button{
    padding: 5px 10px;
    font-size: 25px;
  }
}
.container{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
 align-items: center;

}
app-todo-list-header{
  max-width: 600px;
  width: 100%;
  height: auto;
}
app-todo-list-task{
  max-width: 800px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

